/* Default classes */
.bg-dark-blue {
    background-color: #263238;
}

.bg-orange {
    background-color: #fcb322;
}

.bg-red {
    background-color: #ef6c00;
}

.bg-green {
    background-color: #95c85a;
}

.bg-white {
    background-color: #fff;
}

.border-grey {
    border: 1px solid #dedede;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.text-center {
    text-align: center;
}
/* Default component */
.breadcrumb {
    padding: 45px 0;
}

.breadcrumb > li {
    display: inline-block;
}

.breadcrumb > li a {
    font-family: 'robotoregular', sans-serif;
    color: #b0bec5;
    font-size: 0.9375em;
}

.breadcrumb > li + li:before {
    content: '-';
    padding: 0 5px;
    color: #8bc34a;
}

.breadcrumb > .active {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.9375em;
    color: #263238;
}

.aside-section {
    padding: 20px 30px 40px;
}

.aside-section + .aside-section {
    margin-top: 30px;
}

.aside-title {
    font-family: 'robotobold', sans-serif;
    font-size: 1.25rem;
    color: #263238;
    padding-bottom: 18px;
    border-bottom: 1px solid #dde3e8;
    margin-bottom: 25px;
}

.range-slider-wrap {
    margin-bottom: 40px;
}

.card {
    box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
    transition: all .1s ease-in;
}

.aside-section .card {
    box-shadow: none;
}

.card:hover {
    box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
}

.aside-section .card:hover {
    box-shadow: none;
}

.card-img img {
    width: 100%;
}

.aside-section .card + .card {
    padding-top: 32px;
    border-top: 1px solid #dde3e8
}

.card-description {
    padding: 25px 20px;
    border-bottom: 1px solid #e7ecf2;
}

.aside-section .card-description {
    padding: 20px 0;
    border-bottom: none;
}

.card-item-info .card-title {
    display: block;
    color: #263238;
}

.aside-section .card-item-info .card-title {
    font-family: 'robotobold', sans-serif;
}

.card-item-info .card-categoty {
    display: block;
    font-family: 'robotoregular', sans-serif;
    font-size: 0.875rem;
    color: #8bc34a;
}

.card-description .card-price {
    font-family: 'robotobold', sans-serif;
    font-size: 1.25rem;
    color: #263238;
}

.card-author-info {
    padding: 16px 20px;
}

.aside-section .card-author-info {
    padding: 0 0 28px;
}

.card-author img {
    width: 30px;
    height: 30px;
    margin-right: 0.875rem;
}

.card-author span {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.875rem;
    color: #546e7a;
}

.product-rating li {
    display: inline-block;
    font-size: 0.75rem;
    color: #ffa726;
}

.product-reviews-count {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.75rem;
    color: #263238;
    margin-left: 10px;
}

.product-reviews-count::before {
    content: '(';
    color: #b0bec5;
}

.product-reviews-count::after {
    content: ')';
    color: #b0bec5;
}

.aside-btn {
    font-family: 'robotomedium', sans-serif;
    font-size: 0.9375rem;
    color: #fff;
    display: inline-block;
    width: 100%;
    padding: 18px 0 17px;
    background-color: #8bc34a;

}

.aside-btn .fa-search {
    margin-right: 10px;
}
/* Custom styles */
.top-header {
    padding-top: 26px;
    padding-bottom: 26px;
}

.need-help span {
    font-family: 'robotoregular', sans-serif;
    color: #546e7a;
    font-size: 0.9375rem;
}

.need-help .importance {
    color: #e74c3c;
}

.user-controls {
    margin-left: 53px;
}

.dropdown-item {
    position: relative;
}

.dropdown-item + .dropdown-item {
    margin-left: 16px;
}

.dropdown-control {
    width: 34px;
    height: 34px;
    background-color: #f5f5f5;
    color: #a0a0a0;
    font-size: .875rem;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    display: none;
    min-width: 160px;
    background-color: #fff;
    z-index: 99;
    border: 1px solid #d5d5d5;
    right: 0;
    box-shadow: 0 12px 20px rgba(0, 0, 0, .2);
}

.dropdown-menu.show {
    display: block;
}

.notify-count {
    position: absolute;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    font-size: 11px;
    color: #fff;
    top: -8px;
    right: -5px;
    text-align: center;
    line-height: 18px;
}

.user-dropdown-control {
    margin-left: 20px;
}

.user-avatar {
    width: 34px;
    height: 34px;
    margin-right: 15px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.user-info-wrap h6 {
    font-size: 0.875rem;
    color: #222;
}

.user-info-wrap .fa-chevron-down {
    margin-left: 13px;
    color: #707070;
}

.user-info-wrap .balance {
    font-family: 'robotobold', sans-serif;
    color: #8bc34a;
    font-size: 0.875rem;
}

.user-controls .logout-btn {
    margin-left: 30px;
    display: inline-block;
    font-family: 'robotoregular', sans-serif;
    color: #fff;
    font-size: 0.75rem;
    border-radius: 4px;
    padding: 10px 20px 10px 16px;
    background-color: #e74c3c;
}

.user-controls .login-btn {
    margin-left: 26px;
    display: inline-block;
    font-family: 'robotoregular', sans-serif;
    color: #fff;
    font-size: 0.75rem;
    border-radius: 4px;
    padding: 10px 25px 10px 21px;
    background-color: #8bc34a;
}

.user-controls .register-btn {
    margin-left: 7px;
    display: inline-block;
    font-family: 'robotoregular', sans-serif;
    color: #fff;
    font-size: 0.75rem;
    border-radius: 4px;
    padding: 10px 14px 10px 15px;
    background-color: #e74c3c;
}

.bottom-header {
    padding: 25px 0;
}

.header-nav {
    font-size: 0.875rem;
    color: #fff;
}

.header-nav a + a {
    margin-left: 35px;
}
/* header end */
/* inner start */
.inner-main {
    padding-top: 155px;
    padding-bottom: 175px;
    background: url(../img/small-inner-bg.jpg) no-repeat center / cover;
}

.inner.small-inner {
    padding-top: 57px;
    padding-bottom: 67px;
    background: url(../img/small-inner-bg.jpg) no-repeat center / cover;
}

.inner-main .inner-title {
    font-family: 'robotobold', sans-serif;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 35px;
}

.inner-main .inner-subtitle {
    font-size: 1.25rem;
    color: #fff;
    margin-bottom: 58px;
}

.small-inner .inner-subtitle {
    font-size: 1.25rem;
    color: #fff;
    margin-bottom: 25px;
}

.search-wrap {
    position: relative;
    max-width: 671px;
    margin: 0 auto;
}

.search-input {
    width: 100%;
    height: 56px;
    background-color: #fff;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
       -moz-box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
            box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
    padding-left: 25px;
    padding-right: 50px;
    font-size: 14px;
    color: #90a4ae;
}

.inner-main .search-input {
    -webkit-box-shadow: 1px 1px 10px rgba(124, 178, 64, .75);
       -moz-box-shadow: 1px 1px 10px rgba(124, 178, 64, .75);
            box-shadow: 1px 1px 10px rgba(124, 178, 64, .75);
}

.search-input::-webkit-input-placeholder { color: #90a4ae; }
.search-input::-moz-placeholder          { color: #90a4ae; } /* Firefox 19+ */
.search-input:-moz-placeholder           { color: #90a4ae; } /* Firefox 18- */
.search-input:-ms-input-placeholder      { color: #90a4ae; }

.search-input-btn {
    background-color: transparent;
    color: #78909c;
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}
/* inner end */
/* all-items-wrap start */
.default-chevron-list .fas {
    font-size: 0.8125rem;    
    color: #8bc34a;
    margin-right: 0.87rem;
}

.default-chevron-list .list-text {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.9375rem;
    color: #263238;
}

.default-chevron-list .category-item-count {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.9375rem;
    color: #dde3e8;
}

.default-chevron-list li + li {
    margin-top: 1.875rem;
}

.view-controls {
    padding: 20px;
    margin-bottom: 30px;
}

.all-items-wrap .card {
    margin-bottom: 30px;
}

.pagination {
    margin-top: 60px;
}

.pagination .page-item {
    padding: 14px 18px;
    color: #263238;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
    transition: all .1s ease-in;
}

.pagination .page-item + .page-item {
    margin-left: 8px;
}

.pagination .page-item:hover {
    background-color: #e74c3c;
    color: #fff;
}
/* all-items-wrap end */