/* Default classes */
/* sprites start */
.flash, .hierogliph, .lightning, .sheet, .smile
{ display: inline-block; background: url('../spite/sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.flash { background-position: -2px -0px; width: 34px; height: 37px; }
.hierogliph { background-position: -38px -0px; width: 34px; height: 37px; }
.lightning { background-position: -2px -39px; width: 34px; height: 37px; }
.sheet { background-position: -38px -39px; width: 34px; height: 37px; }
.smile { background-position: -2px -78px; width: 34px; height: 37px; }

.facebook,
.linkedin, 
.pinterest, 
.twiter, 
.youtube { display: inline-block; background: url('../spite/social-sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.facebook { background-position: -2px -0px; width: 28px; height: 28px; }
.linkedin { background-position: -32px -0px; width: 28px; height: 28px; }
.pinterest { background-position: -2px -30px; width: 28px; height: 28px; }
.twiter { background-position: -32px -30px; width: 28px; height: 28px; }
.youtube { background-position: -2px -60px; width: 28px; height: 28px; }
/* sprites end */
.bg-dark-blue {
    background-color: #263238;
}

.bg-orange {
    background-color: #fcb322;
}

.bg-red {
    background-color: #ef6c00;
}

.bg-green {
    background-color: #95c85a;
}

.bg-white {
    background-color: #fff;
}

.bg-pink {
    background-color: #e85647;
}

.bg-ruby {
    background-color: #d32f2f;
}

.bg-lime {
    background-color: #8bc34a;
}

.bg-midnight-blue {
    background-color: #455a64;
}

.bg-coral {
    background-color: #e74c3c;
}

.bg-azure {
    background-color: #6370b6;
}

.bg-sky {
    background-color: #64b5f6;
}

.bg-blue {
    background-color: #4f71ce;
}

.bg-steelblue {
    background-color: #546e7a;
}

.bg-deepskyblue {
    background-color: #42a5f5;
}

.border-grey {
    border: 1px solid #dedede;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.text-center {
    text-align: center;
}
/* Default component */
.breadcrumb {
    padding: 45px 0;
}

.breadcrumb > li {
    display: inline-block;
}

.breadcrumb > li a {
    font-family: 'robotoregular', sans-serif;
    color: #b0bec5;
    font-size: 0.9375em;
}

.breadcrumb > li + li:before {
    content: '-';
    padding: 0 5px;
    color: #8bc34a;
}

.breadcrumb > .active {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.9375em;
    color: #263238;
}

.aside-section {
    padding: 20px 30px 30px;
}

.aside-section + .aside-section {
    margin-top: 30px;
}

.aside-title {
    font-family: 'robotobold', sans-serif;
    font-size: 1.25rem;
    color: #263238;
    padding-bottom: 18px;
    border-bottom: 1px solid #dde3e8;
    margin-bottom: 25px;
}

.range-slider-wrap {
    margin-bottom: 45px;
}

.card {
    box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
    transition: all .1s ease-in;
}

.aside-section .card {
    box-shadow: none;
}

.card:hover {
    box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
}

.aside-section .card:hover {
    box-shadow: none;
}

.card-img img {
    width: 100%;
    height: auto;
}

.aside-section .card + .card {
    padding-top: 32px;
    border-top: 1px solid #dde3e8
}

.card-description {
    padding: 25px 20px;
    border-bottom: 1px solid #e7ecf2;
}

.aside-section .card-description {
    padding: 20px 0;
    border-bottom: none;
}

.card-item-info .card-title {
    font-family: 'robotomedium';
    display: block;
    color: #263238;
}

.aside-section .card-item-info .card-title {
    font-family: 'robotobold', sans-serif;
}

.card-item-info .card-categoty {
    display: block;
    font-family: 'robotoregular', sans-serif;
    font-size: 0.875rem;
    color: #8bc34a;
}

.card-description .card-price {
    font-family: 'robotobold', sans-serif;
    font-size: 1.25rem;
    color: #263238;
}

.aside-section .card-price {
    margin-top: 6px;
    font-size: 1rem;
    color: #263238;
}

.card-author-info {
    padding: 16px 20px;
}

.aside-section .card-author-info {
    padding: 0 0 28px;
}

.card-author img {
    width: 30px;
    height: 30px;
    margin-right: 0.875rem;
}

.card-author span {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.875rem;
    color: #546e7a;
}

.product-rating li {
    display: inline-block;
    font-size: 0.75rem;
    color: #ffa726;
}

.product-reviews-count {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.75rem;
    color: #263238;
    margin-left: 10px;
}

.product-reviews-count::before {
    content: '(';
    color: #b0bec5;
}

.product-reviews-count::after {
    content: ')';
    color: #b0bec5;
}

.aside-btn {
    font-family: 'robotomedium', sans-serif;
    font-size: 0.9375rem;
    color: #fff;
    display: inline-block;
    width: 100%;
    padding: 14px 0 12px;
    background-color: #8bc34a;

}

.aside-btn .fa-search {
    margin-right: 10px;
}

.head-title {
    padding: 18px 33px;
    border-bottom: 1px solid #d7d7d7;
    font-size: 1.5rem;
    color: #263238;
}

.form-control {
    width: 100%;
    height: 40px;
    padding: 0 17px;
	border: 1px solid #dedede;
    background-color: #f9f9f9;
    font: 14px/40px 'robotoregular', sans-serif;
    color: #707070;
}

.submit-btn {
    margin-top: 42px;
    display: inline-block;
    font-family: 'robotomedium', sans-serif;
    font-size: 0.9375rem;
    color: #fff;
    padding: 10px 40px 13px 36px;
}
/* Custom styles */
.top-header {
    padding-top: 26px;
    padding-bottom: 26px;
}

.need-help span {
    font-family: 'robotoregular', sans-serif;
    color: #546e7a;
    font-size: 0.9375rem;
}

.need-help .importance {
    color: #e74c3c;
}

.user-controls {
    margin-left: 53px;
}

.dropdown-item {
    position: relative;
}

.dropdown-item + .dropdown-item {
    margin-left: 16px;
}

.dropdown-control {
    width: 34px;
    height: 34px;
    background-color: #f5f5f5;
    color: #a0a0a0;
    font-size: .875rem;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.dropdown-item.show .dropdown-control {
    color: #263238;
}

.notify-count {
    position: absolute;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    font-size: 11px;
    color: #fff;
    top: -8px;
    right: -5px;
    text-align: center;
    line-height: 18px;
}

.dropdown-menu {
    position: absolute;
    display: none;
    width: 265px;
    background-color: #fff;
    z-index: 99;
    border: 1px solid #d5d5d5;
    right: 0;
    box-shadow: 0 12px 20px rgba(0, 0, 0, .2);
}

.dropdown-menu.user {
    max-width: 155px;
}

.dropdown-menu.user .dropdown-notify-item li {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.75rem;
    color: #546e7a;
}

.dropdown-menu.user .dropdown-notify-item li .fas {
    font-size: 0.875rem;
    color: #8bc34a;
    margin-right: 9px;
}

.dropdown-menu.user .dropdown-notify-item li + li {
    margin-top: 10px;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-notify-item {
    padding: 18px 30px 18px 20px;
}

.dropdown-notify-item:hover .far,
.dropdown-notify-item:hover .fas {
    color: #ef6c00;
}

.dropdown-notify-item + .dropdown-notify-item {
    border-top: 1px solid #e0e0e0;
}

.notify-item-info {
    margin-left: 20px;
}

.notify-item-info h6 {
    margin-top: 8px;
    font-family: 'robotoregular', sans-serif;
    font-size: 0.75rem;
    color: #84b743;
}

.notify-item-info span {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.625rem;
    color: #707070;
}

.dropdown-notify-item .far,
.dropdown-notify-item .fas {
    margin-top: 10px;
    color: #b0bec5;
}

.envelope .notify-item-info h6 {
    margin-top: 6px;
    font-family: 'robotobold', sans-serif;
    color: #263238;
}

.envelope .notify-item-info p {    
    font-family: 'robotoregular', sans-serif;
    color: #84b743;
    font-size: 0.6875rem;
}

.shop .notify-item-info h6 {
    margin-top: 0;
    font-family: 'robotomedium', sans-serif;
    font-size: 0.9375rem;
    color: #263238;
}

.shop .notify-item-info p {
    font-family: 'robotoregular', sans-serif;
    color: #84b743;
    font-size: 0.75rem;
}

.shop .notify-item-info span {
    font-family: 'robotomedium', sans-serif;
    font-size: 1rem;
    color: #000;
}

.shop-total span {
    margin-right: 23px;
    font-family: 'robotobold', sans-serif;
    font-size: 1rem;
    color: #263238;
}

.shop-btn {
    margin-top: 18px;
}

.shop-btn .dropdown-btn {
    display: inline-block;
    font-family: 'robotobold', sans-serif;
    color: #fff;
    font-size: 0.875rem;
    padding: 12px 12px 13px;
}

.shop-btn .dropdown-btn + .dropdown-btn {
    margin-left: 4px;
}

.user-dropdown-control {
    margin-left: 20px;
}

.user-avatar {
    width: 34px;
    height: 34px;
    margin-right: 15px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.user-info-wrap {
    position: relative;
    cursor: pointer;
}

.user-info-wrap h6 {
    font-size: 0.875rem;
    color: #222;
}

.user-info-wrap .fa-chevron-down {
    margin-left: 13px;
    color: #707070;
}

.user-info-wrap .balance {
    font-family: 'robotobold', sans-serif;
    color: #8bc34a;
    font-size: 0.875rem;
}

.user-controls .logout-btn {
    margin-left: 30px;
    display: inline-block;
    font-family: 'robotoregular', sans-serif;
    color: #fff;
    font-size: 0.75rem;
    border-radius: 4px;
    padding: 10px 20px 10px 16px;
    background-color: #e74c3c;
}

.user-controls .login-btn {
    margin-left: 26px;
    display: inline-block;
    font-family: 'robotoregular', sans-serif;
    color: #fff;
    font-size: 0.75rem;
    border-radius: 4px;
    padding: 10px 25px 10px 21px;
    background-color: #8bc34a;
}

.user-controls .register-btn {
    margin-left: 7px;
    display: inline-block;
    font-family: 'robotoregular', sans-serif;
    color: #fff;
    font-size: 0.75rem;
    border-radius: 4px;
    padding: 10px 14px 10px 15px;
    background-color: #e74c3c;
}

.bottom-header {
    padding: 25px 0;
}

.header-nav {
    font-size: 0.875rem;
    color: #fff;
}

.header-nav a + a {
    margin-left: 35px;
}
/* header end */
/* inner start */
.inner-main {
    padding-top: 155px;
    padding-bottom: 175px;
    background: url(../img/small-inner-bg.jpg) no-repeat center / cover;
}

.inner.small-inner {
    padding-top: 57px;
    padding-bottom: 67px;
    background: url(../img/small-inner-bg.jpg) no-repeat center / cover;
}

.inner-main .inner-title {
    font-family: 'robotobold', sans-serif;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 35px;
}

.inner-main .inner-subtitle {
    font-size: 1.25rem;
    color: #fff;
    margin-bottom: 58px;
}

.small-inner .inner-subtitle {
    font-size: 1.25rem;
    color: #fff;
    margin-bottom: 25px;
}

.search-wrap {
    position: relative;
    max-width: 671px;
    margin: 0 auto;
}

.search-input {
    width: 100%;
    height: 56px;
    background-color: #fff;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
       -moz-box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
            box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
    padding-left: 25px;
    padding-right: 50px;
    font-size: 14px;
    color: #90a4ae;
}

.inner-main .search-input {
    -webkit-box-shadow: 1px 1px 10px rgba(124, 178, 64, .75);
       -moz-box-shadow: 1px 1px 10px rgba(124, 178, 64, .75);
            box-shadow: 1px 1px 10px rgba(124, 178, 64, .75);
}

.search-input::-webkit-input-placeholder { color: #90a4ae; }
.search-input::-moz-placeholder          { color: #90a4ae; } /* Firefox 19+ */
.search-input:-moz-placeholder           { color: #90a4ae; } /* Firefox 18- */
.search-input:-ms-input-placeholder      { color: #90a4ae; }

.search-input-btn {
    background-color: transparent;
    color: #78909c;
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}
/* inner end */
/* all-items-wrap start */
.default-chevron-list .fas {
    font-size: 0.8125rem;    
    color: #8bc34a;
    margin-right: 0.87rem;
}

.default-chevron-list .list-text {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.9375rem;
    color: #263238;
}

.default-chevron-list .category-item-count {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.9375rem;
    color: #dde3e8;
}

.default-chevron-list li + li {
    margin-top: 1.25rem;
}

.view-controls {
    padding: 20px;
    margin-bottom: 30px;
}

.all-items-wrap .card {
    margin-bottom: 30px;
}

.aside-section .card {
    margin-bottom: 0;
}

.pagination {
    margin-top: 60px;
}

.pagination .page-item {
    padding: 14px 18px;
    color: #263238;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
    transition: all .1s ease-in;
}

.pagination .page-item + .page-item {
    margin-left: 8px;
}

.pagination .page-item:hover {
    background-color: #e74c3c;
    color: #fff;
}
/* all-items-wrap end */

/* product-details start */
.product-baner {
    padding: 18px 19px 16px;
    margin-bottom: 40px;
}

.product-baner img {
    width: 100%;
    height: auto;
}

.product-description h5 {
    font-size: 1.875rem;
    color: #263238;
    margin-bottom: 32px;
}

.product-description p {
    font-family: 'robotoregular', sans-serif;
    color: #707070;
    margin-bottom: 45px;
}

.product-btn {
    font-family: 'robotomedium', sans-serif;
    line-height: 1;
    font-size: 1rem;
    color: #fff;
    display: inline-block;
    padding: 20px 25px 19px;
}

.product-info-wrap .product-btn + .product-btn {
    margin-left: 18px;
}

.product-social a + a {
    margin-left: 3px;
}

.product-social .fab {
    font-size: 1.125rem;
    color: #fff;
    display: inline-block;
    padding: 19px 20px 18px;
    min-width: 54px;
}
/* product tabs start */
.product-tabs {
    margin-top: 55px;
}

.tab-pane {
    display: none;
    padding: 35px 35px 65px;
}

.tab-pane.fade.active.show {
    display: flex;
    min-height: 210px;
}

.nav-item {
    flex-grow: 1;
}

.nav-item + .nav-item {
    border-left: 1px solid #dfdfdf;
}

.nav-link {
    padding: 20px 10px;
    text-align: center;
    display: block;
    border-bottom: 1px solid #dfdfdf;
    position: relative;
    color: #78909c;
}

.nav-link.active {
    color: #263238;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -1px;
    right: -1px;
    height: 0;
    transition: all .2s ease-in;
}

.nav-link.active::after {    
    height: 3px;
    background-color: #8bc34a;   
}

.tab-pane.fade.active.show .tab-list + .tab-list {
    margin-left: 50px;
}

.tab-list .fas {
    color: #8bc34a;
    margin-right: 15px;
}

.tab-list li {
    font-family: 'robotoregular', sans-serif;
    color: #707070;
}
/* product tabs end */
.more-product {
    margin-top: 50px;
    margin-bottom: 28px;
    padding: 20px 25px;
}

.more-product h4 {
    font-size: 1.125rem;
    color: #263238;
}

.small-card {
    box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
    margin-bottom: 28px;
}

.small-card-description {
    padding: 15px 20px 5px;
}

.small-card-description .small-card-title {
    font-size: 0.875rem;
    color: #263238;
}

.small-card-description span {
    display: block;
    font-family: 'robotoregular', sans-serif;
    font-size: 0.75rem;
    color: #8bc34a;
}

.small-card-description .small-card-price {
    font-family: 'robotobold', sans-serif;
    font-size: 1.125rem;
    color: #263238;
}

/* aside section start */
.aside-section .product-price {
    margin-bottom: 25px;
}

.aside-section .price {
    font-size: 1.375rem;
    color: #e74c3c;
}

.aside-section .price-btn {
    padding: 7px 10px 5px;
    font-family: 'robotoregular', sans-serif;
    font-size: 0.8125rem;
    background-color: transparent;
    color: #70838d;
    border: 1px solid #d6d6d6;
    position: relative;
}

.aside-section .price-btn .fas {
    color: #8bc34a;
    margin-left: 12px;
}

.aside-section .dropdown-price {
    padding: 5px 10px;
}

.aside-section .dropdown-price li {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.8125rem;
    color: #70838d;
}

.aside-section .dropdown-price li + li {
    margin-top: 8px;
}

.aside-section .dropdown-menu.price {
    min-width: 86px;
}

.aside-section .product-btn {
    width: 100%;
    box-shadow: 0 1px 2px rgba(84, 110, 122, 0.75);
}

.aside-section .product-btn .fas,
.aside-section .product-btn .far {
    margin-right: 8px;
}

.aside-section .product-btn + .product-btn {
    margin-top: 7px;
}

.author-section {
    margin-bottom: 25px;
}

.aside-section .author-info {
    margin-left: 15px;
}

.aside-section .author-info h4 {
    font-family: 'robotoregular', sans-serif;
    font-size: 1.125rem;
    color: #263238;
}

.aside-section .product-cart .fas {
    font-size: 1.25rem;
    color: #a6b5bb;
    margin-right: 20px;
}

.aside-section .product-cart h3 {
    margin-right: 15px;
    font-family: 'robotobold', sans-serif;
    font-size: 1.25rem;
    color: #263238;
}

.aside-section .product-cart span {
    font-family: 'robotoregular', sans-serif;
    color: #707070;
}

.aside-section .product-info li {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.875rem;
    line-height: 2.25rem;
    color: #70838d;
}

.aside-section .product-info span {
    font-family: 'robotomedium', sans-serif;
    color: #263238;
    margin-right: 4px;
}
/* aside section end */
/* product-details end */
/* footer start */
#footer {
    margin-top: 120px;
}

.top-footer {
    padding: 115px 0 95px;
    border-bottom: 1px solid #424d53;
}

.footer-title {
    font-family: 'robotobold';
    font-size: 1.375rem;
    color: #fff;
    margin-bottom: 30px;
}

.footer-title::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    margin-top: 25px;
    background-color: #8bc34a;
}

.top-footer p {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.9375rem;
    color: #b7c3c8;
    margin-bottom: 30px;
}

.footer-contacts + .footer-contacts {
    margin-top: 25px;
}

.footer-contacts .fas {
    font-size: 1.125rem;
    color: #8bc34a;
    margin-right: 20px;
}

.footer-contacts .fas.fa-phone {
    transform: rotate(90deg);
}

.footer-contacts span,
.footer-contacts a {
    font-size: 0.875rem;
    color: #fff;
}

.bottom-footer {
    padding: 30px 0;
}

.bottom-footer span {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.9375rem;
    color: #919699;
}

.community .fas,
.help .fas {
    font-size: 1.125rem;
    color: #8bc34a;
    margin-right: 10px;
}

.community li,
.help li {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.9375rem;
    color: #b7c3c8;
}

.community li + li,
.help li + li {
    margin-top: 12px;
}

.social {
    margin-bottom: 30px;
}

.social li + li {
    margin-left: 7px;
}

.sign-up {
    font-family: 'robotoregular', sans-serif;
    font-size: 1.25rem;
    color: #fff;
}

.subscribe-form-wrapper {
    margin-top: 18px;
    background: linear-gradient(to bottom, #000 0%, #263238 100%);
    padding: 1px;
    display: inline-block;
}

.subscribe-form-wrapper #email {
    height: 37px;
    padding: 0 15px;
    background-color: #2f3c43;
    width: 216px;
}

.subscribe-form-wrapper button {
    padding: 9px 13px;
    background-color: #8bc34a;
    color: #fff;
    font-size: 1.15rem;
    line-height: 1;
}
/* footer end */
/* upload-product start */
.form-body {
    padding-top: 40px;
    padding-bottom: 60px;
}

.form-body .row + .row {
    margin-top: 20px;
}

.form-body label {
    padding-left: 45px;
    font-size: 0.9375rem;
    color: #444;
}

.form-body label sup {
    color: #8bc34a;
    font-size: 1.2rem;
    margin-left: 2px;
}

#product-description {
    height: 150px;
}
/* upload-product end */